.card-body {
    height: 320px;
}

.EventCard:hover {
    transform: scale(1.05);
}

.img-container {
    height: 330px;
}

/*Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .img-container {
        height: 400px;
    }
}